@import './variables.scss';
@import './animations.scss';

.__title-bar {
  width: 100%;
  height: $draggable-height;
  -webkit-app-region: drag;
  // border: 2px solid yellow;
}

.__working-area-container {
  display: flex;
  overflow: hidden;
  // border: 2px solid orchid;

  .TabsPane {
    display: flex;
    position: sticky;
    height: $full-working-height;
    // border: 1px solid red;

    &--open {
      width: $tab-pane-width;
      animation-name: TabsAreaOpening;
      animation-duration: $tab-area-slide-animation-duration;
      animation-timing-function: $tab-area-slide-animation-func;
    }

    &--closed {
      width: 0%;
      animation-name: TabsAreaClosing;
      animation-duration: $tab-area-slide-animation-duration;
      animation-timing-function: $tab-area-slide-animation-func;
    }

    .TabsContainer {
      display: flex;
      flex-direction: column;
      width: 100%;
      overflow-y: auto;
      overflow-x: hidden;
      margin: 45px 0px 0px 0px;
      // border: 2px solid slateblue;

      .Tab {
        cursor: pointer;
        border: none;
        margin-bottom: 15px;
        padding: 10px 0;
        font-size: 0.75em;
        user-select: none; // prevents selection highlighting
        // border: 2px solid red;

        &:focus {
          outline-offset: -2px;
          outline: 2px solid rgba(67,76,94,1);
        }

        &--selected {
          color: rgba(229, 233, 240, 1);
          background-color: rgba(67,76,94,1);
          width: 100%;

          &--opening {
            animation-name: OpeningSelectedTab;
            animation-duration: $tab-area-slide-animation-duration;
            animation-timing-function: $tab-area-slide-animation-func;
          }

          &--open {
            background-color: rgba(67,76,94,1);
            color: rgba(229, 233, 240, 1);
            width: 100%;
          }

          &--closing {
            animation-name: ClosingSelectedTab;
            animation-duration: $tab-area-slide-animation-duration;
            animation-timing-function: $tab-area-slide-animation-func;
          }

          &--closed {
            background-color: rgba(67,76,94,0);
            color: rgba(229, 233, 240, 0);
            width: 0%
          }
        }

        &--unselected {
          color: rgba(76,86,106,1);
          transition: color 100ms linear;
          width: 100%;

          &--opening {
            animation-name: OpeningUnselectedTab;
            animation-duration: $tab-area-slide-animation-duration;
            animation-timing-function: $tab-area-slide-animation-func;
          }

          &--open {
            color: rgba(76,86,106,1);
            width: 100%
          }

          &--closing {
            animation-name: ClosingUnselectedTab;
            animation-duration: $tab-area-slide-animation-duration;
            animation-timing-function: $tab-area-slide-animation-func;
          }

          &--closed {
            color: rgba(76,86,106,0);
            width: 0%
          }

          &:hover {
            color: #D8DEE9;
            transition: color 100ms linear;
          }
        }
      }

      .NewTabButton {
        border: none;
        font-size: medium;
        color: #E5E9F0;
      }

      .__tab-area-scroll-past {
        margin-top: 150px;
      }
    }
  }

  .__right-pane-area-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .TextEditorPane {
      width: 100%;
      height: 100%;
      padding: 50px 0px 50px 65px;
      // border: 1px solid lime;

      .TextEditor {
        width: 100%;
        height: 100%;
        overflow-y: auto;
        outline: none;
        border: none;
        background-color: transparent;
        resize: none;
        white-space: pre-wrap;
        word-wrap: break-word;
        font-size: 1em;
        line-height: 1.5em;
        // letter-spacing: 0.05em;
        color: #c0c6d1;
        /* caret-color: transparent; */
        // border: 1px solid blue;
      }
    }

    .BottomPane {
      width: 100%;
      height: $draggable-height;
      padding-left: 50px;
      color: #D8DEE9;
    }
  }
}
