@font-face {
  font-family: 'JetBrainsMono';
  src: url('../../JetBrainsMono-Regular.woff2') format('woff2');
}

* {
  font-family: 'JetBrainsMono', Fallback, sans-serif;
  -webkit-app-region: no-drag;
}

.title-bar {
  -webkit-app-region: drag;
  border: 2px solid yellow;
  width: 100%;
  height: 5vh; /* This must match the containers's bottom margin... Set SCSS vars for this later. */
}

.container {
  display: flex;
  margin: 0 0 5vh 0;
}

@keyframes tabAreaClosing {
  from  { width: 23%; }
  to    { width: 0%; }
}

@keyframes tabAreaOpening {
  from  { width: 0%; }
  to    { width: 23%; }
}

.tabAreaOpen {
  display: flex;
  width: 23%;
  position: sticky;
  top: 0px;
  height: 90vh;
  border: 2px solid red;
  animation-name: tabAreaOpening;
  animation-duration: 0.2s;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.tabAreaClosed {
  display: flex;
  width: 0%;
  height: 100%;
  height: 90vh; /* This is 100-5-5 (container) */
  border: 2px solid red;
  animation-name: tabAreaClosing;
  animation-duration: 0.2s;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.textAreaLarge {
  display: flex;
  flex-grow: 1;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  border: 2px solid lime;
}

.textAreaSmall {
  display: flex;
  flex-grow: 1;
  max-width: 77%;
  overflow: hidden;
  border: 2px solid lime;
}

.tabsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 10%;
  border: 2px solid slateblue;
}

@keyframes tabClosing {
  from  { color: rgba(1, 1, 1, 1); width: 100% }
  to    { color: rgba(0, 0, 0, 0); width: 0% }
}

@keyframes tabOpening {
  from  { color: rgba(0, 0, 0, 0); width: 0% }
  to    { color: rgba(1, 1, 1, 1); width: 100% }
}

.tabOpen {
  margin-bottom: 15px;
  padding: 10px 0;
  background-color: steelblue;
  color: rgba(1, 1, 1, 1);
  animation-name: tabOpening;
  animation-duration: 0.1s;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.tabClosed {
  margin-bottom: 15px;
  padding: 10px 0;
  background-color: steelblue;
  color: rgba(0, 0, 0, 0);
  animation-name: tabClosing;
  animation-duration: 0.1s;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.inputTextBox {
  width: 100%;
  margin: 20px 0px 20px 20px; /* We want the scrollbar to stick to the right side. */
  padding-right: 25px;
  overflow-y: auto;
  outline: none;
  background-color: transparent;
  resize: none;
  white-space: pre-wrap;
  word-wrap: break-word;
  border: 2px solid blue;
  font-size: 1em;
  /* caret-color: transparent; */
}

.mirrorTextBox {
  width: 100%;
  overflow: hidden;
  margin: 3% -97% 3% 3%;
  padding-right: 10px;
  color: green;
  white-space: pre-wrap;
  word-wrap: break-word;  /* Very important to keep in sync with the one in inputTextBox. */
  border: 4px solid yellow;
}

.mirrorTextBox::after {
  content: "";
  display: inline-block;
  background-color: blue;
  vertical-align: top;
  width: 3px;
  height: 20px;
  animation: blink 0.75s step-end infinite;
}

@-webkit-keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
