/* Global Variables */
$draggable-height: 8vh;
$full-working-height: 100vh - $draggable-height;
$tab-pane-width: 18%;

/* Misc Variables */
$tab-area-slide-animation-func: cubic-bezier(0.165, 0.84, 0.44, 1);
$tab-area-slide-animation-duration: 0.25s;
