$tab-pane-width: 20%;
$tab-area-slide-animation-func: cubic-bezier(0.165, 0.84, 0.44, 1);
$tab-area-slide-animation-duration: 0.25s;

.TabsPane {
  display: flex;
  position: sticky;
  width: 0%;
  height: 100%;
  opacity: 0;
  transition: all $tab-area-slide-animation-duration $tab-area-slide-animation-func;  

  .TabsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 90px 0px 0px 0px;

    &::-webkit-scrollbar {
      width: 0px;
      background: transparent;
    }
  }
}

.TabsPane.open {
  opacity: 1;
  width: $tab-pane-width;
}

.tab-area-scroll-past {
  margin-top: 150px;
}
