@import '../../styles/variables.scss';

.TextEditor {
  width: 100%;
  height: $text-area-height;
  padding: 55px;
  overflow-y: auto;
  outline: none;
  border: none;
  background-color: transparent;
  resize: none;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: 0.85em;
  line-height: 1.7em;
  letter-spacing: 0.02em;
  color: #D8DEE9;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #8FBCBB;
    border-radius: 20px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }
}