$bottom-pane-height: 38px;

.TextEditor {
  width: 100%;
  height: 100%;
  padding: 55px;
  padding-bottom: 0;
  overflow-y: auto;
  outline: none;
  border: none;
  background-color: transparent;
  resize: none;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: 0.82em;
  line-height: 1.7em;
  letter-spacing: 0.02em;
  color: var(--text-primary-color);

  &::selection {
    background: var(--text-primary-selection-color);
  }

  &::placeholder {
    line-height: 1.7em;
    letter-spacing: 0.02em;
    color: var(--background-primary-muted-color);
  }

  &::-webkit-scrollbar {
    width: 3px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--accent-color);
    border-radius: 20px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }
}

.bottom-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  bottom: 0;
  width: 100%;
  height: $bottom-pane-height;

  .info {
    position: absolute;
    left: 50%;
    color: var(--background-primary-muted-color);
    font-size: 0.75em;
  }
}