@import '../../styles/variables.scss';

.TextEditor {
  width: 100%;
  height: $text-area-height;
  padding: 55px;
  padding-bottom: 0;
  overflow-y: auto;
  outline: none;
  border: none;
  background-color: transparent;
  resize: none;
  white-space: normal;
  // white-space: pre-wrap;
  // word-wrap: break-word;
  font-size: 0.85em;
  line-height: 1.7em;
  letter-spacing: 0.02em;
  color: #D8DEE9;

  &::selection {
    color: #ECEFF4;
    background: #88C0D0;
  }

  &::placeholder {
    line-height: 1.7em;
    letter-spacing: 0.02em;
    color: rgba(76,86,106,1);
  }

  &::-webkit-scrollbar {
    width: 3px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #88C0D0;
    border-radius: 20px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }
}