.title-bar {
  position: absolute;
  left: 0;
  top: 0;
  height: 38px;
  -webkit-app-region: drag;

  &-mac {
    // Considering the 'traffic lights' are on the left side, leave
    // just a tiny bit for the scrollbar of the TextArea to be fully visibile.
    width: 99.5%;
  }

  &-non-mac {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;

    .window-buttons-container {
      display: flex;
      justify-content: space-evenly;
      margin-right: 10px;
      width: 100px;
      height: 65%;

      .window-button {
        color: var(--background-primary-muted-color);
        font-size: 1.3em;
        width: 100%;
        user-select: none; // prevents selection highlighting
        border: none;

        &:focus {
          outline: none;
        }

        &:hover {
          color: var(--text-primary-color);
          transition: color 50ms linear;
        }
      }
    }
  }
}
