.Tab {
  cursor: pointer;
  border: none;
  margin-bottom: 17px;
  padding: 10px 0;
  font-size: 0.75em;
  width: 100%;
  user-select: none; // prevents selection highlighting

  &:focus {
    outline: none;
  }

  &--editing-name {
    text-align: center;
    color: var(--accent-color);
  }

  &--selected {
    color: var(--tab-selected-color);
    background-color: var(--tab-selected-background-color);
  }

  &--unselected {
    color: var(--background-primary-muted-color);

    &:hover {
      color: var(--text-primary-color);
      transition: color 100ms linear;
    }
  }
}
