@import '../../styles/variables.scss';

.Tab {
  cursor: pointer;
  border: none;
  margin-bottom: 17px;
  padding: 10px 0;
  font-size: 0.75em;
  width: 100%;
  user-select: none; // prevents selection highlighting

  &:focus {
    outline-offset: -2px;
    outline: 2px solid rgba(67,76,94,1);
  }

  &--editing-name {
    text-align: center;
    color: #88C0D0;
  }

  &--selected {
    color: rgba(229, 233, 240, 1);
    background-color: rgba(67,76,94,1);
  }

  &--unselected {
    color: rgba(76,86,106,1);

    &:hover {
      color: #D8DEE9;
      transition: color 100ms linear;
    }
  }
}
