@import '../../styles/variables.scss';

.Tab {
  cursor: pointer;
  border: none;
  margin-bottom: 17px;
  padding: 10px 0;
  font-size: 0.75em;
  user-select: none; // prevents selection highlighting

  &:focus {
    outline-offset: -2px;
    outline: 2px solid rgba(67,76,94,1);
  }

  &--editing-name {
    text-align: center;
    color: #8FBCBB;
  }

  &--selected {
    color: rgba(229, 233, 240, 1);
    background-color: rgba(67,76,94,1);
    width: 100%;

    &--opening {
      animation-name: OpeningSelectedTab;
      animation-duration: $tab-area-slide-animation-duration;
      animation-timing-function: $tab-area-slide-animation-func;
    }

    &--open {
      background-color: rgba(67,76,94,1);
      color: rgba(229, 233, 240, 1);
      width: 100%;
    }

    &--closing {
      animation-name: ClosingSelectedTab;
      animation-duration: $tab-area-slide-animation-duration;
      animation-timing-function: $tab-area-slide-animation-func;
    }

    &--closed {
      background-color: rgba(67,76,94,0);
      color: rgba(229, 233, 240, 0);
      width: 0%
    }
  }

  &--unselected {
    color: rgba(76,86,106,1);
    transition: color 100ms linear;
    width: 100%;

    &--opening {
      animation-name: OpeningUnselectedTab;
      animation-duration: $tab-area-slide-animation-duration;
      animation-timing-function: $tab-area-slide-animation-func;
    }

    &--open {
      color: rgba(76,86,106,1);
      width: 100%
    }

    &--closing {
      animation-name: ClosingUnselectedTab;
      animation-duration: $tab-area-slide-animation-duration;
      animation-timing-function: $tab-area-slide-animation-func;
    }

    &--closed {
      color: rgba(76,86,106,0);
      width: 0%
    }

    &:hover {
      color: #D8DEE9;
      transition: color 100ms linear;
    }
  }
}

/* Animations */ 

@keyframes OpeningSelectedTab {
  from {
    background-color: rgba(67,76,94,0);
    color: rgba(229, 233, 240, 0);
    width: 0%;
  }
  to {
    background-color: rgba(67,76,94,1);
    color: rgba(229, 233, 240, 1);
    width: 100%;
  }
}

@keyframes ClosingSelectedTab {
  from {
    background-color: rgba(67,76,94,1);
    color: rgba(229, 233, 240, 1);
    width: 100%;
  }
  to {
    background-color: rgba(67,76,94,0);
    color: rgba(229, 233, 240, 0);
    width: 0%
  }
}

@keyframes OpeningUnselectedTab {
  from {
    color: rgba(76,86,106, 0);
    width: 0%
  }
  to {
    color: rgba(76,86,106, 1);
    width: 100%
  }
}

@keyframes ClosingUnselectedTab {
  from {
    color: rgba(76,86,106, 1);
    width: 100%
  }
  to {
    color: rgba(76,86,106, 0);
    width: 0%
  }
}