$slide-animation-func: cubic-bezier(0.165, 0.84, 0.44, 1);
$slide-animation-duration: 0.25s;

.NewTabButton {
  border: none;
  font-size: medium;
  color: #E5E9F0;
  width: 0%;
  opacity: 0;
  transition: all $slide-animation-duration $slide-animation-func;  
}

.NewTabButton.open {
  width: 100%;
  opacity: 1;
}
