@import '../../styles/variables.scss';

.NewTabButton {
  border: none;
  font-size: medium;
  color: #E5E9F0;
  width: 0%;
  opacity: 0;
  transition: all $tab-area-slide-animation-duration $tab-area-slide-animation-func;  
}

.NewTabButton.open {
  width: 100%;
  opacity: 1;
}
