.PopupDialog {
  background-color: yellow;

  &--HeaderText {
    color: lightseagreen;
  }

  &--ButtonCancel {
    background-color: hotpink;
  }

  &--ButtonPrimary {
    background-color: lawngreen;
  }
}