@font-face {
  font-family: 'JetBrainsMono';
  src: url('./fonts/JetBrainsMono-Regular.woff2') format('woff2');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'JetBrainsMono', Fallback, sans-serif;
  -webkit-app-region: no-drag;
  background-color: var(--background-primary-color);
}
